<!DOCTYPE HTML>
<html lang="en-US">
	<link rel="icon" href="/logo/logo3.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="dashboard.css">
	<link rel="stylesheet" type="text/css" href="global-responsive.css">
	<link rel="stylesheet" type="text/css" href="dashboard-responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<head>
	<title>Reflow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://kit.fontawesome.com/6308dbf55d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
	<script type="text/javascript" src="global-javascript.js"></script>
	<script type="text/javascript" src="global-language.js"></script>
	<script type="text/javascript" src="dashboard-language.js"></script>
	<script type="text/javascript" src="dashboard-javascript.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">	
</head>

<body>

<div class="dashboard-aligner">
	<div class="dashboard">
		<div class="dashboard-banner" id="dashboard-banner">
			<a href="/">
				<img data-lazy="/logo/logo.png" src="/logo/logo.png">
			</a>
		</div>
		<div class="dashboard-content">
			<div class="dashboard-profile">
				<div class="dashboard-profile-shadow">
					<div class="dashboard-profile-info">
						<div class="dashboard-profile-avatar" id="dashboard-profile-avatar" title="Change Picture">
							<form action="/saveavatar" method="POST" id="saveavatar" enctype="multipart/form-data">
								<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
							</form>
						</div>
						<div>
							<p><%= data[Object.keys(data)[1]] %></p>
							<p><%= data[Object.keys(data)[2]] %></p>
							<p id="dashboard-profile-timestamp"></p>
						</div>
					</div>
					<div class="dashboard-profile-options">
						<div class="dashboard-profile-options-each">
							<form action="/logout?_method=DELETE" method="POST">
								<button type="submit">Log Out</button>
							</form>
						</div>
						<div class="dashboard-profile-options-each">
							<a href="/editor">Editor</a>
						</div>
					</div>
					<div class="dashboard-profile-stats">
						<div>
							<p><%= data[Object.keys(data)[6]] %></p>
							<p>Requests</p>
						</div>
						<div>
							<p><%= data[Object.keys(data)[7]] %></p>
							<p>In Progress</p>
						</div>
						<div>
							<p><%= data[Object.keys(data)[5]] %></p>
							<p>Points</p>
						</div>
					</div>
				</div>
			</div>
			<div class="dashboard-requests">
				<div class="dashboard-sort">
					<a href="#" key="newest" class="dashboard-sort-each dashboard-sort-desc">Newest <i class="fa fa-arrow-up"></i></a>
					<a href="#" key="oldest" class="dashboard-sort-each dashboard-sort-asc">Oldest <i class="fa fa-arrow-down"></i></a>
				</div>
				<div class="dashboard-filter">
					<a class="dashboard-filter-each dashboard-filter-all dashboard-filter-active" href="#">All</a>
					<a class="dashboard-filter-each dashboard-filter-photos" href="#">Photos</a>
					<a class="dashboard-filter-each dashboard-filter-videos" href="#">Videos</a>
					<a class="dashboard-filter-each dashboard-filter-progress" href="#">In Progress</a>
				</div>
				<div class="dashboard-gallery">
				
					<% for (var i = 0; i < requests.length; i++) { %>
						<form action="/editor" method="post" class="dashboard-form" data-type="<%= requests[i].type %>" data-year="<%= requests[i].year %>">
							<div class="dashboard-gallery-each">
								<span class="dashboard-gallery-each-status" 
								<% if(requests[i].status == 0) { %>
								style="background-color:green"
								<% } else if(requests[i].status == 1) { %>
								style="background-color:orange"
								<% } else if(requests[i].status == 2) { %>
								style="background-color:red"
								<% } else { %>
								style="background-color: grey"
								<% } %>
								></span>
								<div class="dashboard-gallery-each-text">
									<p><%= requests[i].title %></p>
									<p><%= requests[i].description %> - <%= requests[i].year %></p>
								</div>
								<img data-lazy="/images/image8.jpg">
							</div>
							<input type="number" id="request_id" name="request_id" value="<%= requests[i].id_request %>" required>
						</form>
					<% } %>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
// Get Joined Timestamp
let timestamp = Number(<%= data[Object.keys(data)[4]] %>)
var date = new Date(Math.round(Number(timestamp)));
let formattedDate = date.getUTCDate() + '/' + (date.getUTCMonth() + 1)+ '/' + date.getUTCFullYear()
document.getElementById("dashboard-profile-timestamp").innerHTML = "Joined on " + formattedDate;

// Set Avatar
let id_users = <%= data[Object.keys(data)[0]] %>
document.getElementById("dashboard-profile-avatar").style.backgroundImage = "url('/user/" + id_users + ".jpg')";

// Set Banner
let rand =  Math.floor(Math.random() * (5 - 1) + 1);
document.getElementById("dashboard-banner").style.backgroundImage = "url('/banner/banner-" + rand + ".jpg')";

</script>

</body>

</html>