<!DOCTYPE HTML>
<html lang="en-US">
	<link rel="icon" href="/logo/logo3.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="editor.css">
	<link rel="stylesheet" type="text/css" href="global-responsive.css">
	<link rel="stylesheet" type="text/css" href="editor-responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<head>
	<title>Reflow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://kit.fontawesome.com/6308dbf55d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.js"></script>
	<script type="text/javascript" src="global-javascript.js"></script>
	<script type="text/javascript" src="global-language.js"></script>
	<script type="text/javascript" src="editor-language.js"></script>
	<script type="text/javascript" src="editor-javascript.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">	
</head>

<body>

<div class="editor-aligner">
	<div class="editor-menu">
		<div class="editor-menu-logo">
			<a href="/">
				<img data-lazy="/logo/logo.png" id="my-image">
			</a>
		</div>
		<div class="editor-menu-user">
			<div class="editor-profile-avatar" id="editor-profile-avatar"></div>
			<div>
				<p id="user" style="display: none"><%= user_data[Object.keys(user_data)[0]] %></p>
				<p><%= user_data[Object.keys(user_data)[1]] %></p>
				<p><%= user_data[Object.keys(user_data)[2]] %></p>
			</div>
		</div>
		<div class="editor-menu-scrollable">
			<div class="editor-menu-section">
				<p key="editor-house">House</p>
			</div>
			<div class="editor-menu-each">
				<div class="editor-menu-each-button editor-menu-each-active">
					<p key="editor-floor">Floors</p>
					<i class="fa-solid fa-angle-up"></i>
				</div>
				<div class="editor-menu-each-content" id="editor-menu-content-flats">
					<div class="editor-menu-each-rooms">
						<% for (var i = 1; i < jsonlength + 1; i++) { %>
							<p class="editor-menu-each-floor" value="<%= i %>">Floor <%= i %></p>
						<% } %>
					</div>
				</div>
			</div>
			<div class="editor-menu-section">
				<p key="editor-objects">Objects</p>
			</div>
			<div class="editor-menu-button">
				<p key="editor-open" id="editor-object-open">Open</p>
			</div>
			<div class="editor-menu-section">
				<p key="editor-settings">Settings</p>
			</div>
			<div class="editor-menu-each">
				<div class="editor-menu-each-setting">
					<label class="pure-material-switch">
						<input type="checkbox">
						<span>Dark Mode</span>
					</label>
				</div>
				<div class="editor-menu-each-button">
					<p>Language</p>
					<i class="fa-solid fa-angle-up"></i>
				</div>
				<div class="editor-menu-each-content editor-menu-each-rooms">
					<div class="language-dropdown-each">
						<a href="#" class="language" id="es" key="spanish">Español</a>
					</div>
					<div class="language-dropdown-each">
						<a href="#" class="language" id="ca" key="catalan">Català</a>
					</div>
					<div class="language-dropdown-each">
						<a href="#" class="language" id="en" key="english">English</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="editor-canvas" id="editor-canvas">
		<% for (var i = 0; i < jsonlength; i++) { %>
			<canvas class="editor-canvas-each" value="<%= i %>" id="canvas<%= i %>" width="100" height="100"></canvas>
		<% } %>	
	</div>
	<div class="editor-options">
		<!--
		<div id="save">
			<i class="fa-solid fa-floppy-disk"></i>
		</div>
		<div id="load">
			<i class="fa-solid fa-upload"></i>
		</div>
		-->
		<div id="zoomin">
			<i class="fa-solid fa-plus"></i>
		</div>
		<div id="zoomdef">
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
		<div id="zoomout">
			<i class="fa-solid fa-minus"></i>
		</div>
	</div>
</div>

<input style="display: none" type="number" id="request_id" name="request_id" value="<%= request_id %>">
<input style="display: none" type="number" id="jsonlength" name="jsonlength" value="<%= jsonlength %>">
<% for (var i = 0; i < jsonlength; i++) { %>
<input style="display: none" type="text" id="jsonsave<%= i %>" class="jsonsave" name="jsonsave<%= i %>" value="">
<% } %>

<script>

// Set Avatar
let id_users = <%= user_data[Object.keys(user_data)[0]] %>
document.getElementById("editor-profile-avatar").style.backgroundImage = "url('/user/" + id_users + ".jpg')";

// Set JSON Save Data
var jsonsave_selector = document.getElementsByClassName("jsonsave");
var jsonsave_editor = JSON.parse(<%-JSON.stringify(jsonsave)%>);

var floorcount = document.getElementById("jsonlength").value;

for (var i = 0; i < floorcount; i++) {
	jsonsave_selector[i].setAttribute("value", jsonsave_editor[i].json);
}

</script>

</body>

</html>